#body {
    position: relative;
}

section.banner {
    width: 100%;
    height: max-content;
    min-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    column-gap: 20px;
    row-gap: 30%;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 8pc;
    padding-bottom: 20px;
    background-color: var(--accentTrans);
}

.banner .upper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 80vh;
    overflow: hidden;
    padding-inline: 20px
}

.upper .image-div {
    width: 100%;
    height: 100%;
    object-fit: fill;
    place-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
    background-color: var(--accent);
    justify-content: center;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 50vw;
    border-top-right-radius: 40vw;
    border-bottom-right-radius: 60vw;
}

.image-div img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    filter: brightness(105%);
}

.banner div.message {
    min-width: 100%;
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    padding-block: 20px;
    gap: 10px;
}

.banner .message .text {
    font-family: PoppinsSemi;
    font-size: 1rem;
    max-width: 200px;
}

.banner .message .player {
    width: 60%;
    max-width: 150px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    background: var(--accent);
    padding: 5px;
    border-radius: 50px;
    border: 1px solid var(--highlight);
    height: 50px;
    box-shadow: inset -20px 0px 20px var(--primaryTrans);
}

.banner .message .indication {
    color: var(--mainText);
    font-family: PoppinsSemi;
    padding-inline-start: 10px;
}

.banner .message button {
    display: flex;
    z-index: 99;
    justify-content: center;
    align-items: center;
    padding-inline-start: 2px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    border: none;
    text-align: center;
    background: var(--link);
    height: 40px;
}

.banner .message button svg {
    fill: var(--primary);
}

.banner .write-up {
    max-width: 600px;
    padding-inline: 30px;
    margin-top: 8vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner .write-up h2 {
    font-family: PoppinsBold;
    font-size: 2.2rem;
    line-height: 2.5rem;
}

.banner .write-up h2 span {
    font-family: PoppinsLight;
    color: var(--mainText);
    font-size: 1.8rem;
    line-height: 1.4rem;
}

.banner .write-up p {
    font-size: 18px;
    font-family: PoppinsLight;
    padding-bottom: 10px;
}

section.category {
    width: 100vw;
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 253, 253);
}

.category h1 {
    min-width: 100%;
    font-family: PoppinsSemi;
    padding-inline: 10px;
}

.category .category-flex {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.category .category-div {
    width: 46%;
    min-width: 100px;
    max-width: 150px;
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    background: white;
    padding: 10px;
    padding-bottom: 20px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.category .category-div:hover {
    scale: 95%;
    transform: translateY(5px);
    box-shadow: 0px 8px 12px rgba(173, 173, 173, 0.2);
}

.category .category-div .category-image {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-div .category-image img {
    object-fit: fill;
    width: 60%;
    place-self: center;
    height: 60%;
    color: var(--link);
    fill: var(--link);
}

.category .category-div p {
    text-align: center;
    font-size: 1.1rem;
    font-family: PoppinsMed;
}


.alert-message {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
    flex: 1;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px) brightness(80%);
    justify-content: center;
    align-items: center;
}

.alert-message .alert-div{
    width: 92%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    background: rgba(255, 255, 255, 0.99);
    border-radius: 20px;
    gap: 5px;
}

.alert-message .alert-icon svg{
    fill: rgb(255, 100, 0);
    width: 50px;
    height: 50px;
    fill-opacity: 0.6;
}

.alert-title {
    font-weight: bolder;
    font-family: PoppinsMed;
    text-align: center;
    font-size: 1.4rem;
}

.alert-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    color: black;
    font-family: PoppinsLight;
    font-size: 1rem;
    margin-bottom: 10px;
}

.alert-text span{
    min-width: 100%;
    min-height: 10px;
}

.alert-button {
    width: 100%;
    background-color: var(--link);
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}


section.stories {
    width: 100vw;
    height: max-content;
    gap: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(253.5, 253.5, 253.5);
}

.stories .story-category {
    border-top: 1px solid #c7c7c7;
    width: 100%;
    align-self: center;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.story-category h2 {
    font-weight: bold;
    font-family: PoppinsSemi;
    font-size: 1.6rem;
    color: black;
    text-align: left;
    min-width: 100%;
    padding-inline-start: 10px;
}

.story-category .stories {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.stories .story {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    padding: 4px;
    justify-content: flex-start;
    height: auto;
    background-color: white;
}

.stories .story:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(173, 173, 173, 0.1);
}

.stories .story .story-image {
    display: flex;
    width: 180px;
    height: 160px;
    align-self: center;
    place-content: center;
    border-radius: 16px;
    overflow: hidden;
}

.stories .story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(105%);
}

.stories .story .story-info {
    min-height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-block: 15px;
    gap: 2px;
}

.story .story-info p.story-location {
    font-size: 0.7rem;
    font-weight: lighter;
    font-family: PoppinsLight;
    letter-spacing: 1px;
}

.story .story-info p.story-title {
    margin-bottom: 15%;
    font-size: 0.9rem;
    line-height: 1.1rem;
    max-width: 80%;
    text-align: left;
    font-weight: bold;
    font-family: PoppinsMed;
}


.story .story-info div.wrapper {
    width: 95%;
    background-color: rgb(240, 240, 240);
    height: 8px;
    border-radius: 100px;
    display: block;
    overflow: hidden;
}

.story .story-info .wrapper .meter {
    width: 60%;
    background: linear-gradient(90deg, var(--highlight), var(--link));
    height: 100%;
    border-radius: 100px;
    /* background-size: 200% 100%; */
    animation: loadding 1.5s linear infinite;
}

@keyframes loading {
    0% {
        background: linear-gradient(90deg, rgb(200, 255, 61), rgb(0, 190, 0));
        /* background-position: 0% 50%; */
    }

    25% {
        background: linear-gradient(90deg, rgb(150, 200, 61), rgb(100, 190, 100));
    }

    50% {
        background: linear-gradient(90deg, rgb(100, 150, 61), rgb(150, 190, 150));
    }

    100% {
        background: linear-gradient(90deg, rgb(50, 100, 61), rgb(200, 190, 200));

        /* background-position: 0% 50%; */

    }
}

.story .story-info p.story-amount-raised {
    font-weight: bold;
    font-family: PoppinsBold;
    margin-top: 4px;
    font-size: 16px;
}

.story-category button {
    width: 40%;
    min-width: 60px;
    max-width: 160px;
    background: none;
    border: 1px solid var(--accent);
    border-radius: 50px;
    padding: 8px;
    color: var(--link);
    font-size: 16px;
    font-family: PoppinsSemi;
    cursor: pointer;
}

.story-category button:hover {
    scale: 96%;
    box-shadow: 0px 6px 10px #cccccc3a;
}

section.donation-viewer {
    z-index: 999999999999999999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donation-viewer .container {
    width: 100%;
    max-width: 500px;
    place-self: center;
    overflow: hidden;
    background-color: white;
    padding: 10px;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}

.container .cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: var(--accent);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    font-size: 1.8em;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 12px var(--accentTrans), 0px 0px 20px var(--primaryTrans);
    fill: var(--link);
    z-index: 999999;
    cursor: pointer;
}

.donation-viewer .container .image {
    width: 100%;
    min-height: 300px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
}

.donation-viewer .container .image img {
    width: 100%;
    height: 100%;
    filter: brightness(102%);
    object-fit: cover;
    object-position: 0% 50%;
}

.container h2 {
    margin-top: -10px;
    min-width: 100%;
    text-align: left;
    font-family: PoppinsBold;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.container .donation-details {
    width: 100%;
    padding: 10px;
    padding-inline-start: 15px;
    text-align: left;
    border: 1px solid var(--accentTrans);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.donation-details .left {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.donation-details .left .upper {
    width: 100%;
}

.left .upper p.amount-raised {
    font-size: 20px;
    color: black;
    font-family: PoppinsSemi;
    font-weight: bolder;
}

.left .upper .amount-raised span.small {
    font-size: 18px;
}

.donation-details .left .lower {
    display: flex;
    flex-direction: row;
    color: grey;
    gap: 5px;
    align-items: center;
    margin-top: -6px;
    justify-content: flex-start;
}


.donation-details .left .lower p {
    color: rgb(158, 151, 151);
    font-size: 14px;
    font-family: PoppinsLight;
    font-weight: bold;
}

.left .lower p.goal {
    text-decoration: underline;
}

.donation-details .percentage-div {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 100px;
    max-height: 100px;
    position: relative;
}

.percentage-div svg {
    transform: rotate(-90deg);
}

.percentage-div svg .progress-bg {
    fill: none;
    stroke: #d7ffd8ad;
    stroke-width: 10;
    backdrop-filter: blur(10px);
}

.percentage-div .progress-bar {
    fill: none;
    stroke-width: 10;
    stroke: #01bd07;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease-out;
}

.donation-details .percentage-div p {
    width: 60px;
    min-height: 60px;
    background: white;
    z-index: 9999;
    text-align: center;
    place-content: center;
    place-items: center;
    font-weight: bolder;
    font-family: PoppinsBold;
    font-size: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donation-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.donation-buttons button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: PoppinsMed;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.donation-buttons button {
    color: white;
    background: var(--link);
}

/* .donation-buttons button.donate {
    color: var(--link);
    background: var(--accent);
} */

.organizer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: left;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-inline: 10px;
}

.organizer .user-svg {
    width: 35px;
    height: 35px;
    background-color: var(--accentTrans);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.organizer .user-svg img {
    width: 25px;
    height: 25px;
}

.organizer .organizer-name {
    font-size: 16px;
    font-family: PoppinsLight;
}

.tag {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.tag .inner {
    width: auto;
    padding: 4px;
    padding-inline: 8px;
    background-color: var(--accentTrans);
    border: 1px solid var(--link);
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 6px;
    color: var(--link);
    font-family: PoppinsMed;
    align-items: center;
    justify-content: center;
}

.tag .inner .icon {
    width: 15px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag .inner .icon img {
    width: 105%;
    height: 95%;
}

.tag .inner .tag-text {
    font-family: PoppinsMed;
    font-weight: bolder;
    font-size: 0.8rem;
    color: var(--link);
}

.donation-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
    padding-inline: 4px;
}

.donation-description p {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    max-height: 250px;
    font-size: 14.5px;
    overflow: hidden;
}

.donation-description .read-more-div {
    width: 100%;
    background: linear-gradient(transparent, white, white);
    padding-block: 20px;
    padding-top: 30px;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.donation-description .read-more-div button {
    border: none;
    background: none;
    font-size: 0.9rem;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    color: var(--link);
}

.reactions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reactions .add-reaction {
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: var(--accentTrans);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    cursor: pointer;
    transition: all ease-in 500ms;
}

.reactions .add-reaction:hover {
    scale: 95%;
}

.reactions .reaction-emoji {
    width: 100%;
    gap: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.reactions .reaction-emoji span {
    width: 35px;
    height: 35px;
    background-color: #fff6fda9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.reactions .reaction-emoji span:active {
    scale: 90%;
}

.reaction-emoji p.react-numbers {
    font-size: 16px;
    padding-top: 4px;
    font-family: PoppinsMed;
    text-decoration: underline;
}

.gallery {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.gallery img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}