header {
  width: 100%;
  background: var(--gradient-color);
  padding: 2rem;
  text-align: center;
  height: 25vw;
  min-height: 300px;
  display: flex;
  place-items: center;
  margin-bottom: -40px;
  justify-content: center;
}

header p {
  font-family: PoppinsSemi;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  color: var(--link);
  text-align: center;
}

section.faq {
  padding: 1rem;
  padding-top: 10vmin;
  border-radius: 40px 40px 0 0;
  background-color: white;
}

section.faq.second {
  border-radius: 0;
}

section.faq p.title {
  font-size: 1.4rem;
  font-family: PoppinsSemi;
  letter-spacing: 0.4px;
}
