.header {
  width: 100%;
  display: grid;
  background: var(--gradient-color);
  padding: 2rem;
  height: 20vw;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.header .circle {
  width: 90vw;
  height: 90vw;
  max-width: 800px;
  max-height: 800px;
  background: var(--highlight);
  position: absolute;
  right: -20%;
  top: -30px;
  opacity: 0.25;
  z-index: -99;
  border-radius: 50%;
  filter: blur(1px);
}

.header h1 {
  text-align: center;
  font-family: PoppinsSemi;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  color: var(--link);
  position: relative;
  width: auto;
  place-self: center;
}

.header h1 span.underline {
  width: 40%;
  display: flex;
  position: absolute;
  top: 0;
  right: 34%;
  height: 105%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--link);
  place-self: center;
  padding: 15px;
}

section#faq {
  padding: 1.5rem;
  padding-top: 12vmin;
  background: white;
}

section.faq p.title {
  font-size: 1.4rem;
  font-family: PoppinsSemi;
  letter-spacing: 0.4px;
}
