@font-face {
  font-family: PoppinsLight;
  src: url(../src/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsMed;
  src: url(../src/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsSemi;
  src: url(../src/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(../src/fonts/Poppins-ExtraBold.ttf);
}

:root {
  --primary: ivory;
  --primaryTrans: rgba(255, 255, 240, 0.4);
  --accent: #d8acac;
  --accentTrans: rgba(232, 195, 195, 0.4);
  --gradient-color: linear-gradient(var(--primaryTrans), var(--accentTrans));
  --circle-gradient-color: radial-gradient(
    rgba(255, 255, 255, 0.92),
    rgba(255, 255, 255, 0.72),
    rgba(255, 255, 255, 0.42),
    var(--primary)
  );
  --mainText: #3a3a3a;
  --highlight: #d4af37;
  --link: #8b5e5a;
  --blur: blur(20px);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: PoppinsLight, PoppinsMed, PoppinsSemi, PoppinsBold, sans-serif;
  transition: all 400ms ease-in-out;
  list-style: none;
}

html,
body,
div#body {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
  background: var(--gradient-color);
  background-position: 100%;
  background-clip: border-box;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  position: relative;
    z-index: -99999999;
  user-select: none;
}

/* for main company tag style  */
div#company {
  position: absolute;
  bottom: 10%;
  display: grid;
  place-content: center;
  padding: 10px;
  width: 100%;
}

#company p#developed {
  font-size: x-small;
  user-select: none;
  display: grid;
  text-align: center;
}

#company-name {
  text-align: center;
  font-family: PoppinsMed;
  color: var(--link);
}

a#scrollUp {
  position: absolute;
  background: var(--gradient-color);
  backdrop-filter: blur(20px);
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 9999;
  display: flex;
  box-shadow: 1px 1px 10px var(--accent);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  border: none;
}

a#scrollUp:hover {
  transform: scale(110%);
}

header#header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  padding-inline: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 240, 0.85);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 99999;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid var(--accentTrans);
}

.heightShow {
  animation: show 600ms ease 100ms forwards;
  box-shadow: 1px 1px 15px var(--accentTrans);
}

div.logoSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 30%;
  min-width: 250px;
}

div#logo-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}

img#nav-logo {
  width: 70px;
  height: 70px;
  transform: translateY(-5px);
}

p#web-name {
  width: auto;
  font-family: PoppinsSemi;
  font-size: 18px;
  line-height: 20px;
  color: var(--link);
}

div#menu {
  width: auto;
  display: none;
  place-content: center;
  cursor: pointer;
}

svg.menu {
  fill: var(--link);
}

div#nav {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-inline-end: 10px;
  justify-content: space-evenly;
}

div#nav a.nav-main {
  width: auto;
  place-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
}

div#nav a.nav-main:hover {
  margin-bottom: 5px;
}

div#bottom div#contacts {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 15px;
}

div#bottom p.contactText {
  min-width: 100%;
  text-align: center;
  place-content: center;
  font-family: PoppinsSemi;
  color: var(--mainText);
  display: block;
}

a.icons svg {
  fill: var(--link);
  width: 20px;
  height: 20px;
}

a.nav-main div.underline {
  width: 50%;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  align-self: center;
  right: 20%;
  border-bottom: 2px solid var(--link);
}

a.nav-main p#nav-text {
  font-size: 16px;
  font-family: PoppinsMed;
  color: var(--mainText);
}

a.nav-main p#nav-text.active {
  color: var(--link);
  font-family: PoppinsSemi;
}

div#nav a.login {
  background-color: transparent;
  border: 2px solid var(--link);
  padding-inline: 15px;
  border-radius: 20px;
}

div#nav a.login p.login-text {
  color: var(--link);
  font-weight: bold;
  font-family: PoppinsSemi;
}

div#nav a.login:hover {
  box-shadow: 0px 1px 8px var(--accent);
}

span.highlight {
  font-family: PoppinsSemi;
  color: var(--highlight);
}

span.bold{
  font-weight: bold;
  font-family: PoppinsSemi;
}

@keyframes show {
  from {
    height: 80px;
  }
  to {
    height: 480px;
  }
}
