section {
    place-self: center;
    width: 95%;
display:flex;
place-content:center;
flex-direction:column;
    padding: 1rem;
}

.parent {
    max-width: 750px;
    padding: 2rem;
    font-family: PoppinsLight;
    padding: 10px;
    margin-block: 20px;
}

.parent h2 {
    color: var(--link);
    font-size: 1.6rem;
    font-family: PoppinsSemi;
}

.detail-card {
    background: var(--primaryTrans);
    margin-top: 20px;
    border-radius: 20px;
    padding: 1rem;
    padding-inline: 1.2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    overflow: hidden;
}

.detail-row .detail-value {
    font-size: 1rem;
    font-family: monospace, 'Roboto Mono', 'Courier New' ;
    user-select: text;
    width: auto;
    text-wrap: wrap;
    text-overflow: ellipsis;
    text-align: left;
    height: auto;
padding-bottom:5px;
}

.proceed-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 12px;
    padding-inline: 15px;
    background-color: var(--link);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    place-self: center;
    max-width: 400px;
margin-top:20px;
}

.proceed-button p {
    font-size: 16px;
    color: white;
    font-family: PoppinsSemi;
    text-align: center;

}

.proceed-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.payment-summary-container {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  padding: 10px 0;
  font-family: PoppinsLight, sans-serif;
  text-align: center;
}

.payment-summary-container h2 {
  font-size: 1.6rem;
  font-family: PoppinsSemi, sans-serif;
  margin-bottom: 15px;
  color: var(--link);
text-align:left;
}

.detail-card {
  background: white;
  border-radius: 15px;
  padding: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(10px);
  text-align: center;
}

.amount {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
font-family:PoppinsSemi;
}

.date {
  font-family: monospace;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.divider {
  border: none;
  border-top: 1px solid var(--accentTrans);
  margin: 10px 0;
}

.single-row {
  display: block;
  padding: 0;
  margin-bottom: 10px;
}

.detail-label {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: PoppinsMed, sans-serif;
}

.detail-value {
  display: block;
  font-size: 1rem;
  font-family: monospace, 'Roboto Mono', 'Courier New';
  margin-top: 3px;
  word-wrap: break-word;
}

.detail-value#payment-description{
font-size:0.8rem;
padding-bottom:1rem;
text-align: center;
}

.txn-id {
  font-family: monospace;
  font-size: 1.1rem;
  margin-bottom: 20px;
}