body,
div#body {
  background: rgb(253, 253, 253);
}

header.header .circle {
  width: 90vw;
  height: 90vw;
  max-width: 800px;
  max-height: 800px;
  background: var(--highlight);
  position: absolute;
  right: -20%;
  top: -30px;
  opacity: 0.25;
  z-index: -99;
  border-radius: 50%;
  filter: blur(1px);
}

header.header {
  width: 100%;
  padding: 5rem;
  background-color: var(--accentTrans);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: -70px;
  overflow: hidden;
  position: relative;
  min-height: 45%;
  padding-bottom: 5.5rem;
  font-size: 1.2rem;
  z-index: -99;
  gap: 10px;
  color: var(--mainText);
}

header.header h1 {
  position: relative;
  width: auto;
  place-self: center;
  font-size: 3rem;
  margin-bottom: 0.8rem;
  color: var(--link);
  text-align: center;
  margin-bottom: 30px;
  font-family: PoppinsSemi;
}

header.header h1 span {
  width: 40%;
  display: flex;
  position: absolute;
  top: 0;
  right: 34%;
  height: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--link);
  place-self: center;
  padding: 10px;
}
header.header h3 {
  text-align: center;
  font-family: PoppinsMed;
  color: var(--mainText);
  font-size: 2rem;
}

.container {
  z-index: 99;
  width: 85vw;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  padding-top: 2.6rem;
  border-radius: 30px;
  box-shadow: 0 4px 6px var(--accentTrans);
  position: relative;
  height: max-content;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 2rem;
}

.tab {
  flex: 1;
  padding: 1rem;
  text-align: center;
  font-family: PoppinsMed;
  cursor: pointer;
  color: var(--link);
  transition: all 0.3s ease;
}

.tab.active {
  color: var(--link);
  font-family: PoppinsSemi;
  border-bottom: 3px solid var(--link);
  font-weight: 500;
}

.form-section {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 6%;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: auto;
  transition: display 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.form-container#register-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

.form-container#register-form .upper, .form-container#register-form .lower{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6%;
}

.form-container#register-form .lower{
  margin-top: 5px;
  padding-top: 25px;
  border-top: 1px solid rgba(179, 179, 179, 0.5);
}

.form-container div.header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 350px;
  text-align: left;
  font-size: 16px;
  padding-bottom: 1.5rem;
}

.form-container div.header h1{
  color: var(--link);
  font-family: PoppinsMed;
  margin-bottom: -8px;
  font-size: 25px;
}

.form-container div.bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 550px;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-group#attendance {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--link);
  font-weight: 500;
  font-family: PoppinsMed;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--accentTrans);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
  width: max-content;
}

#attendance .radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}
.radio-option {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}
.radio-option-text {
  width: auto;
  min-width: 100px;
}

div.session-plan{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:10px;
  height: auto;
  max-height: 200px;
  border: 2px solid var(--link);
  border-radius: 15px;
  overflow: hidden;
  background: white;
  color: var(--mainText);
  padding: 0.6rem;
  align-items: center;
}

div.session-plan .image{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: fill;
}

div.session-plan .image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.session-plan .right{
  width: auto;
  display: flex;
  color: var(--mainText);
  font-size: 14px;
  flex-direction: column;
}

.session-plan .right .title{
  font-family: PoppinsSemi;
  font-size: 22px;
  color: var(--link);
}

.session-plan .right .under{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.session-plan .right .price{
  font-family: PoppinsSemi;
  font-size: 22px;
  color: var(--link);
}
div.faq-bottom{
  width: 100%;
  padding: 1rem;
  padding-block: 1.4rem;
  text-align: center;
  place-content: center;
}

div.faq-bottom .faq{
  text-decoration: underline;
  text-decoration-color: var(--highlight);
}