:root {
  --success: rgb(21, 218, 21);
  --warning: #f8961e;
  --danger: #f94144;
  --light: #f8f9fa;
  --dark: #212529;
  --gray: #6c757d;
}

body {
  /* display: none; */
  visibility: visible;
}

#container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  padding-top: 6pc;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  max-height: 800px;
  align-items: flex-start;
  padding-bottom: 1.2rem;
  font-family: PoppinsLight, PoppinsMed;
}

/* User Profile Section */
.profile-section {
  background: linear-gradient(60deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), var(--accentTrans));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 1.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  align-self: flex-start;
  justify-content: space-between;
  gap: 2rem;
  overflow: hidden;
  width: 95%;
  max-width: 600px;
  -webkit-user-select: text;
  user-select: text;
}

.profile-section .left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: PoppinsSemi;
  color: var(--accent);
  place-self: center;
  -webkit-user-select: none;
  user-select: none;
}

.profile-info {
  width: 100%;
  max-width: 400px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.profile-info h2 {
  color: black;
  font-family: PoppinsSemi;
  font-size: 1.6rem;
  text-overflow: wrap;
  width: 100%;
}

.profile-info p {
  color: var(--gray);
  font-size: 14px;
}

.profile-section .others {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: max-content;
  border: 1px solid var(--accent);
  padding: 6px;
  padding-inline: 20px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
}

.profile-section .others a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding-block: 2px;
}


.profile-section .others a svg {
  color: var(--link);
  fill: var(--link);
  width: 25px;
  height: 25px;
}

/* Payments Section */
.payments-section {
  border-radius: 20px;
  padding-bottom: 2rem;
  width: 95%;
  max-width: 800px;
  height: max-content;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.section-title {
  font-size: 1.4rem;
  color: white;
  min-width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  font-family: PoppinsMed;
  font-weight: bolder;
  letter-spacing: 1px;
  background-color: var(--link);
  padding: 8px;
  padding-top: 12px;
  z-index: 9999;
  padding-inline: 25px;
  place-self: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.payments-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
  height: max-content;
  padding: 0.2rem;
  padding-top: 15px;
  align-items: center;
  justify-content: space-evenly;
}

.payment-card {
  width: 100%;
  max-width: 580px;
  height: max-content;
  border-radius: 22px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.payment-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
}

.payment-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accentTrans);
}

.payment-header .header-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.payment-header .header-upper .indicator-circle {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 10px solid;
  opacity: 0.8;
  border-radius: 50%;
}

.payment-code {
  color: var(--mainText);
  font-family: PoppinsMed;
  font-size: 0.9rem;
  letter-spacing: -0.5px;
}

.payment-status {
  width: max-content;
  max-height: 25px;
  padding: 0.25rem 0.8rem;
  border-radius: 20px;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  font-family: PoppinsSemi;
}

.status-completed {
  background-color: rgba(209, 250, 229, 0.8);
  color: #038553;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-color: #038553;
}

.status-pending {
  background-color: rgba(254, 243, 199, 0.8);
  color: #a04004;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-color: #a04004;
}

.status-failed {
  background-color: rgba(254, 226, 226, 0.8);
  color: #ad0505;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-color: #ad0505;
}

.payment-type {
  font-family: PoppinsMed;
  font-weight: bolder;
  color: black;
  font-size: 1.3rem;
}

.payment-details {
  margin-top: 1rem;
  font-family: PoppinsLight;
}

.payment-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.detail-label {
  color: var(--gray);
}

.detail-value {
  font-family: PoppinsMed;
}

/* Payslip Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}

.modal-content {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  max-width: 500px;
  gap: 10px;
  padding: 1.5rem;
  position: relative;
  min-height: 80vh;
  max-height: 95vh;
  overflow: hidden;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--gray);
}

.payslip-header {
  min-width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.payslip-header #icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: PoppinsMed;
  color: red;
  padding: 5px;
  max-width: max-content;
}

.payslip-header #icon svg {
  width: 60%;
  height: 60%;
}

.payslip-header #icon.completed {
  fill: var(--success);
  color: var(--success);
  font-weight: bolder;
  border-color: var(--success);
}

.payslip-header #icon.failed {
  fill: var(--danger);
  color: var(--danger);
  font-weight: bolder;
  border-color: var(--danger);
}

.payslip-title {
  font-family: PoppinsSemi;
  color: black;
  font-weight: bolder;
}

p#receiptDate {
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: -3px;
  font-family: monospace;
}

.payslip-details {
  margin-top: 2rem;
  overflow-y: auto;
  min-width: 100%;
}

.payslip-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ecef;
}

.payslip-row span:first-child {
  font-weight: bolder;
  font-size: 14px;
}

.payslip-row span:last-child {
  -webkit-user-select: text;
  user-select: text;
  font-size: 16px;
}

.modal .payslip-footer {
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.modal .payslip-footer button {
  width: 60%;
  max-width: 200px;
  background: var(--link);
  padding: 5px;
  padding-inline: 12px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-family: PoppinsMed;
  font-weight: bolder;
  font-size: 16px;
}

.modal .payslip-footer button:hover, .modal .payslip-footer button:active {
  transform: scale(95%);
  opacity: .8;
}

@media (max-width: 768px) {
  .profile-section {
    flex-direction: column;
    text-align: center;
  }

  .payments-grid {
    grid-template-columns: 1fr;
  }
}

.cart-count {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--link);
  text-align: center;
}


#logout-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}

#logout-button svg {
  width: 30px;
  height: 30px;
  fill: var(--danger);
}

.no-payments-message {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;
  height: max-content;
}