/* General Body Styles */
@font-face {
    font-family: PoppinsLight;
    src: url(../src/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: PoppinsMed;
    src: url(../src/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsSemi;
    src: url(../src/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../src/fonts/Poppins-ExtraBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: PoppinsLight, PoppinsMed, PoppinsSemi, PoppinsBold, sans-serif;
    transition: all 400ms ease;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    user-drag: none;
    border: none;
    -webkit-font-smoothing: antialiased;
    -webkit-scrollbar-width: thin;
    scrollbar-width: thin;
    -webkit-scrollbar-color: transparent transparent;
    scrollbar-color: transparent transparent;
    user-select: none !important;
}

*:focus, *:active {
    outline: none !important;
}

*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid transparent;
}


body {
    width: 100%;
    height: 100%;
    flex: 1;
    font-family: PoppinsLight, PoppinsSemi, PoppinsMed, Arial, sans-serif;
    background: #000000;
    margin: 0;
    overflow: hidden;
    visibility: visible;
}

#admin-dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#05000e, rgb(0, 0, 0));
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* Sidebar (Left Panel) */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    min-width: 300px;
    max-width: 500px;
    border-right: 1px solid #3d3d3d8e;
    background: linear-gradient(0deg, rgb(12, 12, 12), black 60%);
    flex: 1;
}

.sidebar-header, .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid #3d3d3d8e;
}

.sidebar-header {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    border: none;
    padding-bottom: 10px;
    padding-top: 30px;
    height: max-content;
}

.chat-header {
    background: transparent;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: max-content;
    border: none;
    width: 100%;
    z-index: 99999;
}

.chat-header .upper {
    width: 100%;
    flex: 1;
    padding-block: 15px;
    padding-inline: 10px;
    padding-inline-end: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: rgb(2, 2, 2, 0.9);
    backdrop-filter: blur(25px);
    border-bottom: 1px solid #3d3d3d8e;
}

.chat-header .upper .out {
    width: 20%;
    width: max-content;
    display: flex;
}

.chat-header .upper .beside {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search-container {
    width: 98%;
    place-self: center;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: rgb(2, 2, 2, 0.9);
    backdrop-filter: blur(25px);
    transition: opacity 0.3s ease, transform 0.3s ease, display 0.2s ease;
    opacity: 0;
    display: flex;
    transform: translateY(-10px);
    gap: 10px;
    pointer-events: none;
}

.chat-header input.chat-search-input {
    width: 100%;
    background-color: #ffffff27;
    padding: 10px;
    padding-inline-start: 30%;
    border-radius: 20px;
    caret-color: #13c000;
    color: white;
    border: 1.6px solid transparent;
}

.chat-header .search-container.visible {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.chat-header input.chat-search-input::placeholder {
    font-weight: bolder;
    opacity: .8;
    letter-spacing: 0.6px;
}

.chat-header input.chat-search-input:focus {
    border-radius: 18px;
    padding: 10px;
    border-color: #007300;
}

.search-container button.chat-search-btn {
    min-width: 42px;
    min-height: 42px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: #007300;
    display: grid;
    place-content: center;
}

#no-results-message {
    max-width: 60%;
    width: max-content;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(20px);
    padding: 8px;
    padding-inline: 20px;
    border-radius: 20px;
    text-align: center;
    color: #dbf1ff;
    box-shadow: 0px 0px 12px rgba(60, 60, 60, 0.4);
}

.chat-header .header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.chat-header .header-icons .bi.use {
    display: none;
}

.chat-header .header-icons .bi.active {
    display: block;
}

.sidebar-header-top {
    width: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-wrap: wrap;
    font-family: PoppinsSemi;
    padding-block: 15px;
    max-width: 250px;
    height: max-content;
    align-self: flex-start;
    user-select: none;
}


.sidebar-header-top .admin-name-div {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-inline-start: 8px;
    padding-inline-start: 10px;
    height: max-content;
    border-left: 1px solid rgba(130, 130, 130, 0.5);
    user-select: none !important;
    pointer-events: none;
}

.admin-name-div p {
    font-size: 11px;
    color: #cbcbcbb9;
    letter-spacing: 0.5px;
    margin-top: -5px;
    align-self: flex-end;
    text-align: right;
}

.user-avatar {
    width: 40px;
    height: 40px;
    min-width: 40px !important;
    min-height: 40px !important;
    border-radius: 50%;
    background-color: #b7b7b7;
    border: 1px solid gray;
    display: grid;
    text-align: center;
    place-content: center;
    font-size: 20px;
    font-family: PoppinsBold;
    color: rgba(22, 22, 22, 0.718);
}

.sidebar-header .user-avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    color: black;
    box-shadow: 0px 0px 10px rgba(73, 255, 63, 0.5);
    animation: boxAnimation 15s 100ms ease-in infinite;
    transform: translateZ(0);
    display: grid;
}

@keyframes boxAnimation {
    0% {
        box-shadow: 0px 0px 10px rgba(73, 255, 63, 0.5), 1px -2px 10px rgba(139, 16, 255, 0.5);
    }

    25% {
        box-shadow: -5px 5px 15px rgba(139, 16, 255, 0.5), 2px -1px 12px rgba(73, 255, 63, 0.5);
    }

    50% {
        box-shadow: 5px -5px 20px rgb(255, 251, 40, 0.5), -1px 1px 18px rgba(139, 16, 255, 0.5);
    }

    75% {
        box-shadow: -5px 5px 12px rgba(16, 195, 255, 0.5), 3px -4px 15px rgb(255, 251, 40, 0.5);

    }
}

.sidebar-header .user-avatar i {
    margin-top: 20px;
    font-size: 2.8rem;
}

.admin-tag {
    font-size: 20px;
    font-family: PoppinsBold;
    font-weight: bold;
}

.sidebar-header .header-icons {
    width: 100%;
}

.sidebar .header-icons {
    width: max-content;
    max-width: 200px;
    display: flex;
    justify-self: flex-end;
}

.header-icons i {
    font-size: 22px;
    color: #54656f;
    margin-left: 20px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.search-bar i {
    font-size: 20px;
    color: #54656f;
    margin-right: 15px;
    padding: 8px;
    cursor: pointer;
}

.search-bar input {
    flex: 1;
    width: 100%;
    max-width: 85vw;
    border: none;
    border-radius: 12px;
    padding: 8px;
    padding-inline-start: 25%;
    background-color: #ffffff36;
    backdrop-filter: blur(19px);
    font-size: 14px;
    color: white;
    caret-color: #25d362;
}

.search-bar input:focus {
    padding-inline: 15px;
    border-radius: 20px;
}

.search-bar input::placeholder {
    font-weight: bold;
    opacity: 0.8;
    letter-spacing: 0.5px;
}

.filter-icon {
    color: whitesmoke;
    margin: 0;
    margin-left: 8px;
    cursor: pointer;
    font-size: 22px;
}

.filter-options {
    display: none;
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.filter-options button.active {
    background-color: #dcf8c6;
    color: black;
    font-weight: bolder;
}

.filter-options button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px 16px;
    border: 1px solid #afafaf37;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    background-color: rgb(22, 22, 22, 0.1);
    backdrop-filter: blur(20px);
    cursor: pointer;
}


.user-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    min-height: max-content;
    max-height: 80vh;
    padding: 10px;
    padding-block: 20px;
    padding-bottom: 30px;
    overflow-y: auto;
}

.empty-list-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #8696a0;
    text-align: center;
}

.empty-list-placeholder i {
    font-size: 4rem;
    margin-bottom: 1rem;
}


.user-list-container p.chat-empty {
    width: 100%;
    padding-block: 10vh;
    color: whitesmoke;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
}

.user-list-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    width: 100%;
    gap: 8px;
    background: transparent;
    place-self: center;
    backdrop-filter: blur(20px);
    border-radius: 18px;
    text-decoration: none !important;
}

.user-list-item.active {
    font-weight: bolder;
    background: rgba(22, 22, 22, 0.433);
}

.user-list-item:hover {
    background-color: #4545451f;
}

.user-list-item .user-avatar {
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    min-height: 50px !important;
    background: #dcf8c6;
}

.user-list-item .side {
    width: 100%;
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

.user-list-item .upper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
}

.user-list-item .upper .user-name {
    font-weight: 600;
    color: #92a3ad;
}


.user-list-item.active .user-name {
    font-weight: bolder;
    font-family: PoppinsSemi;
    color: white;
}

.user-list-item .lower {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
}

.last-message {
    font-size: 13px;
    color: #60696e;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 76%;
    white-space: nowrap;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.user-list-item.active .last-message {
    color: whitesmoke;
    font-weight: bold;
}

.user-meta {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.last-message-time {
    font-size: 12px;
    color: #8696a0;
}

.user-list-item.active .last-message-time {
    color: white;
}

.unread-count {
    background-color: #25d362;
    color: rgb(22, 22, 22);
    font-size: 12px;
    font-weight: bolder;
    font-family: PoppinsMed;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}


* button:disabled, * input:disabled, * textarea:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.chat-header .user-avatar {
    background: #dcf8c6;
}

.chat-header .user-info {
    width: max-content;
    flex: 1;
    max-width: 65%;
    display: flex;
    flex-direction: column;
}

.chat-header .user-name {
    color: rgba(255, 255, 255, 0.96);
}

.user-status {
    font-size: 11.5px;
    color: #818b91;
    text-decoration: none !important;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.message-container {
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none;
}

.message-container .message-bubble {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    gap: 10px;
    margin-inline-start: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.05s;
}

.message-container .message-bubble.focused {
    background: rgba(220, 255, 238, 0.4);
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    backdrop-filter: brightness(110%);
    margin-left: 20px;
}

.message-content {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    padding: 10px;
    border-radius: 22px;
    position: relative;
    transition: transform 0.2s ease;
    background: rgb(250, 255, 255);
    text-decoration: none;
}

.message-container .message-bubble.focused .message-content {
    border: 1px solid rgba(146, 255, 164, 0.1);
    opacity: 0.9;
}

.sent.message-bubble {
    justify-content: flex-end;
    margin-inline-start: 0;
    margin-inline-end: 10px;
}

.sent .message-content {
    border-top-right-radius: 0;
    background: rgb(240, 255, 255);
}

.message-bubble .reply-button {
    font-size: 20px;
    color: #717e86;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

.message-bubble.received {
    animation-name: bubbleReceive;
}


@keyframes bubbleReceive {
    0% {
        opacity: 0;
        transform: translateX(-15px) translateY(10px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

.message-bubble.sent {
    transform-origin: bottom right;
    margin-inline-end: 10px;
    animation-name: bubbleSentFromInput;
}

@keyframes bubbleSentFromInput {
    0% {
        opacity: 0;
        transform: translateY(80px) translateX(50px) scale(0.6);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0) scale(1);
    }
}

@keyframes bubbleSent {
    0% {
        opacity: 0;
        transform: translateX(30px) translateY(20px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

.message-bubble:hover .reply-button, .message-bubble:active .reply-button {
    opacity: 1;
}

.message-bubble .tag-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 1px;
    position: relative;
}

.tag-div .tag-name {
    width: max-content;
    background: rgba(232, 195, 195, 0.2);
    backdrop-filter: blur(20px);
    padding-inline: 8px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 0.6px;
    color: #3d1512;
    border: 1px solid #8b5e5a27;
}

.tag-name[data-tag="SIGNUP"] {
    background-color: #dcf8c660;
    color: #2e7d00;
    border-color: #2e7d00;
}

.tag-name[data-tag="LOGIN"] {
    background-color: #c7e8ff60;
    color: #00488b;
    border-color: #00488b;
}

.tag-name[data-tag="PAYMENT"] {
    background-color: #fff0b360;
    color: #997400;
    border-color: #997400;
}

.tag-name[data-tag="AUDIO"] {
    background-color: #e6d4ff60;
    color: #3d00a0;
    border-color: #3d00a0;
}

.tag-name[data-tag="LOGOUT"] {
    background-color: #ffcdd260;
    color: #a3000b;
    border-color: #a3000b;
}

.tag-name[data-tag="SESSION"] {
    background-color: #c8e6c960;
    color: #00a606;
    border-color: #00a606;
}

.tag-name[data-tag="CART"] {
    background-color: #b2ebf260;
    color: #007d8b;
    border-color: #007d8b;
}

.tag-name[data-tag="VIEW BOOK"] {
    background-color: #ffccbc60;
    color: #ed3700;
    border-color: #ed3700;
}

.tag-name[data-tag="WAITLIST"] {
    background-color: #f8bbd060;
    color: #c9004d;
    border-color: #c9004d;
}

.tag-name[data-tag="NEWSLETTER"] {
    background-color: #d1c4e960;
    color: #3100a4;
    border-color: #3100a4;
}

.message-content p {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    user-select: text;
    letter-spacing: 0.6px;
    box-sizing: border-box;
    max-width: 100%;
}

.message-meta {
    font-size: 12px;
    color: #8696a0;
    margin-top: 3px;
    text-align: right;
    display: block;
}

.back-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.chat-footer {
    width: 100%;
    height: auto;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    gap: 5px;
}

.chat-footer .under {
    background: rgba(14, 14, 14, 0.9);
    backdrop-filter: blur(20px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    height: max-content;
    border-radius: 20px 20px 0 0;
}

.chat-footer i {
    font-size: 24px;
    color: #54656f;
    margin: 0 10px;
    cursor: pointer;
}

.message-input {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background: rgba(50, 50, 50, 0.6);
    backdrop-filter: blur(20px);
    caret-color: #25d362;
    color: white;
    border: 2px solid rgba(200, 200, 200, 0.3);
    resize: none;
    height: 50px;
    resize: none;
    width: 100%;
    height: 50px;
    min-height: 20px;
    max-height: 100px;
    overflow-y: auto;
    backdrop-filter: blur(20px);
    caret-color: #25d362;
    color: white;
    border: 1px solid transparent;
    position: relative;
}

.message-input:focus {
    border-color: #25d362;
}

.chat-footer button {
    border: none;
    display: flex;
    place-content: center;
    place-items: center;
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 20px;
    background: #25d362;
    color: black;
    font-weight: bolder;
    font-family: PoppinsMed;
    cursor: pointer;
}

.chat-footer button i {
    color: black;
}

.chat-footer button:disabled {
    background: #25d36266;
    cursor: not-allowed !important;
}

.chat-footer button:disabled .chat-footer i {
    color: #444444;
    cursor: not-allowed !important;
}

.loading-parent {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background: transparent;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px) brightness(80%);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

.spinner-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: transparent;
    border-radius: 100%;
    align-self: center;
}

.spinner {
    width: 25px;
    height: 25px;
    align-self: center;
    border: 4px solid transparent;
    border-left: 4px dotted black;
    border-top: 4px dotted black;
    border-radius: 50%;
    animation: spin 600ms linear 100ms infinite alternate forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.loading-parent .spinner {
    border-left: 4px dotted white;
    border-top: 4px dotted white;
}

button .spinner {
    width: 19px;
    height: 19px;
}

.chat-placeholder {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #8696a0;
    text-align: center;
}

.chat-placeholder .logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 24vw rgb(40, 0, 53);
    animation: scaleAnimation 5s 100ms ease infinite;
    transform: translateZ(0);
}

@keyframes scaleAnimation {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(80%);
    }

    100% {
        transform: scale(100%);
    }
}

.chat-placeholder p {
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    padding-inline: 10px;
    color: white;
}

.chat-view.active .chat-placeholder {
    display: none;
}

.chat-view.no-chat .chat-placeholder {
    display: flex;
}

.chat-view.no-chat .chat-header,
.chat-view.no-chat .message-container,
.chat-view.no-chat .chat-footer {
    display: none;
}

.chat-view {
    display: none;
}

@media (min-width:768px) {

    /* Chat View (Right Panel) */
    .chat-view {
        flex: 1;
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }

    .chat-view .chat-header {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;
    }

    .chat-view .chat-footer {
        position: absolute;
        bottom: 0;
        z-index: 101;
    }

    .chat-view .upper .beside {
        width: 95%;
    }

    .message-container {
        flex: 1;
        width: 100%;
        min-height: 100vh;
        padding-block: 10dvh;
        border: none !important;
    }
}

/* Responsive Design */
@media (max-width: 768px) {

    .back-button {
        display: block;
    }

    .sidebar {
        width: 100%;
        max-width: 100%;
        border-right: none;
    }


    /* Logic to show chat view when a user is selected will be in JS */
    .chat-view.active {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        height: 100dvh;
        width: 100vw;
        max-height: 100%;
        flex: 1;
        /*width:100%;
height:100%*/
        z-index: 100;
        background: linear-gradient(#05000e, rgb(0, 0, 0));
    }

    .chat-view.active .chat-header {
        position: fixed;
        top: 0;
        top: 0dvh;
        width: 100%;
        max-width: 100vw;
        z-index: 101;
    }

    .chat-view.active .message-container {
        flex: 1;
        overflow-y: auto;
        padding-block: 10vh !important;
        padding-block: 10dvh !important;
        max-height: none;
    }

    .chat-view.active .chat-footer {
        position: fixed;
        bottom: 0;
        bottom: 0dvh;
        width: 100%;
        z-index: 101;
        padding-bottom: env(safe-area-inset-bottom);
    }
}

#scroll-to-bottom-btn {
    position: absolute;
    top: -60px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #25d362d6;
    backdrop-filter: blur(20px);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;
    font-family: PoppinsMed;
    letter-spacing: -3px;
    text-align: center;
    transform: rotate(-90deg) translateX(-11px);
    box-shadow: 0px 0px 12px rgba(0, 255, 76, 0.172);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
    pointer-events: none;
}

#scroll-to-bottom-btn.visible {
    transform: rotate(-90deg) translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.reply-preview {
    width: 96%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 60px;
    max-height: 100px;
    align-items: flex-start;
    background-color: var(--chat-bubble-bg, #f0ffff);
    border-left: 10px solid #01c000;
    padding: 8px 12px;
    border-radius: 15px;
    animation: fadeIn 0.2s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 0px 16px rgba(0, 52, 11, 0.5);
    user-select: none;
    margin-inline-start: 5px;
    position: relative;
}

.reply-tag {
    font-size: 0.75rem;
    font-weight: bolder;
    color: #01c000;
    min-width: 100%;
}

.reply-snippet {
    flex: 1;
    max-width: 100%;
    color: #333;
    margin-top: 2px;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.1rem;
    text-overflow: ellipsis;
}

#cancel-reply {
    cursor: pointer;
    font-size: 0.8rem;
    color: #888;
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 102;
}

#cancel-reply:hover {
    color: #ff3333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px) translateX(0);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}


.alert-message {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 0;
    left: 0;
    z-index: 99999999999999999999999999999999999 !important;
    display: none;
    flex: 1;
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(4px) brightness(60%);
    backdrop-filter: blur(4px) brightness(60%);
    justify-content: center;
    align-items: center;
}

.alert-message .alert-div {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    background: rgba(255, 255, 255, 0.99);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    gap: 10px;
}

.alert-message .alert-icon svg {
    fill: rgb(255, 100, 0);
    width: 50px;
    height: 50px;
    fill-opacity: 0.6;
}

.alert-title {
    font-weight: bolder;
    font-family: PoppinsMed;
    text-align: center;
    font-size: 1.4rem;
    color: black;
}

.alert-message .alert-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    place-self: center;
    color: rgba(0, 0, 0, 0.98);
    font-family: PoppinsLight;
    font-size: 0.9rem;
    margin-bottom: 16px;
}

.alert-message .alert-text span {
    min-width: 100%;
    min-height: 10px;
}

.alert-message .button-parents {
    width: 100%;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-evenly;
}

.alert-message .alert-button {
    width: min(100%, 160px);
    background-color: #320020;
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: bolder;
    outline: none;
    display: flex;
    text-align: center;
    place-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .76;
    transition: all 0.3s ease;
}


.alert-message .alert-error {
    color: rgb(255, 0, 0) !important;
    font-size: 13px;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px;
    letter-spacing: 0.4px;
    margin-top: 10px;
    background: rgba(255, 230, 230, 0.8);
    border: 1px solid rgba(255, 0, 0, 0.1);
    font-family: PoppinsMed;
    border-radius: 12px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    height: max-content;
    max-height: 200px;
}

.alert-message i:first-child {
    font-size: 2.5rem;
    color: black;
}

.alert-message i:first-child.text-warning {
    color: rgb(255, 171, 14);
}

.alert-message i:first-child.text-success {
    color: rgb(0, 182, 0);
}

.alert-message i:first-child.text-danger {
    color: rgb(255, 11, 11);
}

.alert-message .alert-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.alert-message i:first-child.fs-2 {
    font-size: 3rem;
}

.alert-message .alert-button.secondary {
    background: transparent;
    border: 2px solid #320020;
    color: #320020;
}


.alert-button:hover, .alert-button:active {
    opacity: 1;
}

.alert-message .alert-button.secondary:hover {
    background: #320020;
    color: white;
}

.alert-message .alert-button:disabled {
    background: rgb(230, 230, 230);
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
}

.alert-message.shop .alert-button, .alert-message.shop .alert-title {
    display: none;
}

.alert-message.shop {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
    flex: 1;
    background: none;
    justify-content: center;
    padding-bottom: 30vh;
    align-items: flex-end;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.alert-message.shop .alert-div {
    background: transparent;
}

.alert-message.shop .alert-text {
    width: max-content;
    max-width: 400px;
    text-align: center;
    padding: 8px;
    padding-inline: 18px;
    background-color: rgba(25, 25, 25, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 0.5px solid rgba(176, 172, 172, 0.3);
    color: white;
    border-radius: 18px;
}


.payment-instructions {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.98);
    backdrop-filter: blur(20px);
    border: 1px solid #8181818e;
    color: white;
    padding: 20px;
    border-radius: 25px;
    z-index: 1001;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 0px 12px rgba(38, 38, 38, 0.3);
    max-width: 500px;
}

.payment-instructions h3 {
    margin-top: 0;
}

.payment-instructions ul {
    padding: 0;
    padding-top: 5px;
}

.payment-instructions li {
    list-style-type: disc !important;
    margin-left: 20px;
    margin-block: 5px;
}

.payment-instructions button#close-instructions-btn {
    place-self: center;
    width: max-content;
    max-width: 50%;
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #15dd5b;
    border: none;
    border-radius: 15px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    font-size: 15px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit;
}