<!DOCTYPE html>
<html>
  <p>Hello {{first_name}},</p>
  <p>We noticed a new sign‑in to your Healing with Charlotte Casiraghi account on {{date_time}} from {{location}} using a {{device}}.</p>
  <p>Protecting your privacy and healing journey is our priority.</p>
  <p><b>Was this you?</b></p>
  <ul>
    <li><b>Yes:</b> No action needed.</li>
    <li><b>No:</b> Please reset your password immediately using our secure link and contact us at healingwithcharlottecasiraghi@gmail.com.</li>
  </ul>
  <p>If you’re travelling or using a new device, you might receive these alerts more often. They’re just a reminder that we’re keeping your account secure. Thank you for being part of this sacred space.</p>
  <p>With care,<br>Companion support</p>
  <hr>
  <p>
    📞 EU: +33 7 45 62 46 34<br>
    📞 US: +1 (302) 277-8716<br>
    ✉️ healingwithcharlottecasiraghi@gmail.com
  </p>


</body></html>