@font-face {
    font-family: PoppinsLight;
    src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: PoppinsMed;
    src: url(/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsSemi;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(/fonts/Poppins-ExtraBold.ttf);
}

:root {
    --primary: ivory;
    --primaryTrans: rgba(255, 255, 240, 0.4);
    --accent: #dfc9ad;
    --accentTrans: rgba(232, 195, 195, 0.4);
    --gradient-color: linear-gradient(var(--primaryTrans), var(--accentTrans));
    --vert-gradient-color: linear-gradient(90deg, var(--accentTrans), var(--primaryTrans));
    --circle-gradient-color: radial-gradient(rgba(255, 255, 255, 0.92),
            rgba(255, 255, 255, 0.72),
            rgba(255, 255, 255, 0.42),
            var(--primary));
    --mainText: #3a3a3a;
    --highlight: #d4af37;
    --link: #8b5e5a;
    --blur: blur(20px);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: PoppinsLight, PoppinsMed, PoppinsSemi, PoppinsBold, sans-serif;
    transition: all 400ms ease-in-out;
    list-style: none;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: block;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

#body {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: block;
}

header#academy-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 15px;
    padding-top: 20px;
    border-bottom: 2px solid blue;
    z-index: 9999;
}

header#academy-header .left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.company-image {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    border-radius: 15px;
}

.company-title .upper {
    margin-bottom: -6px;
    font-size: 16px;
    font-family: PoppinsSemi;
    color: rgba(0, 0, 255, 0.685);
}

.company-title .lower {
    color: blue;
    font-family: PoppinsBold;
    font-size: 1.3rem;
}

.section {
    width: 100%;
    height: max-content;
    padding: 1.2rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#academy-banner {
    padding-inline: 10%;
    position: relative;
    min-height: 85%;
    align-items: center;
    overflow: hidden;
    border-bottom-right-radius: 20px;
}

div.circle {
    width: 60%;
    height: 60%;
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    background-color: rgba(0, 255, 255, 0.3);
    z-index: -999;
    border-radius: 50%;
    top: -2%;
    left: -10%;
    filter: blur(5rem);
}

div.angle {
    width: 60%;
    height: 60%;
    max-width: 400px;
    max-height: 400px;
    background-color: rgba(0, 0, 255, 0.486);
    border-radius: 20px;
    z-index: 999;
    position: absolute;
    rotate: 10deg;
    bottom: -40%;
    right: -30%;
}

#academy-banner .banner-left {
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    width: 90%;
    max-width: 500px;
    font-family: PoppinsSemi;
}

.banner-left p {
    font-family: PoppinsBold;
    -webkit-user-select: text;
    user-select: text;
    font-size: 1.6rem;
    font-size: calc(100% + 25px);
    line-height: calc(100% + 8px);
    margin-bottom: 15px;
}

.banner-left span.highlight {
    color: blue;
    font-family: PoppinsBold;
}

.banner-left p.under {
    font-family: PoppinsLight;
    margin-bottom: 20%;
    font-size: 1rem;
    color: #303030;
    line-height: 1.2rem;
}